/* -------------------TRAVEL INFO SECTION----------------- */
.top {
  padding-top: clamp(2.5rem, 1.333rem + 3.889vw, 6rem);
  padding-bottom: clamp(2.5rem, 1.333rem + 3.889vw, 6rem);
}
.why {
  width: 80%;
  transform: translateX(15%);
  display: flex;
  flex-flow: row wrap;

  padding-left: clamp(2.5rem, 0.667rem + 6.111vw, 8rem);
  padding-right: clamp(2.5rem, 0.667rem + 6.111vw, 8rem);
  gap: 4rem;
}
.travel-pic {
  flex: 1;
  max-width: 540px;
  aspect-ratio: 7/4;
  background-image: url(../../assets/img/plane.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.travel-info {
  width: 80%;
  flex: 1;
  p {
    line-height: 1.4;
    margin-top: 1.5rem;
  }
  h2 {
    margin-bottom: 2.5rem;
  }
}
.travel-icon {
  margin-left: 1.5rem;
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  i {
    font-size: 2.5rem;
  }
  p {
    margin-left: 1.5rem;
  }
}

.second {
  padding-left: clamp(2.5rem, 1.333rem + 3.889vw, 6rem);
  padding-top: clamp(2.5rem, 1.333rem + 3.889vw, 6rem);
  margin-bottom: 4rem;
}

/* -------------------MINISTERY INFO SECTION----------------- */
.ministery {
  background: var(--gradient-bg);
  width: 80%;
  transform: translateX(15%);
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 2.5rem;
  padding-left: clamp(2.5rem, 1.333rem + 3.889vw, 6rem);
  padding-right: clamp(2.5rem, 1.333rem + 3.889vw, 6rem);
  gap: 2.5rem;
}
.ministery-info {
  flex: 1;
  margin-left: 3rem;
  p {
    line-height: 1.4;
    margin-top: 1.5rem;
  }
  h2 {
    margin-bottom: 2.5rem;
  }
}
.ministery-pic {
  flex: 1;
  max-width: 460px;
  aspect-ratio: 3/4;
  background-image: url(../../assets/img/ministra.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

/* -------------------MINISTERY VALUES SECTION----------------- */
.third {
  width: 80%;
  transform: translateX(15%);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
  padding: clamp(2.5rem, 1.333rem + 3.889vw, 6rem);
  .welcome-title {
    .text {
      margin-left: 3rem;
    }
  }
}
aside {
  flex: 1;
}

.values {
  color: var(--main-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: clamp(2.5rem, 1.333rem + 3.889vw, 6rem);
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;

  background-image: url(../../assets/img/g16.jpg);
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.value {
  max-width: 250px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  i {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  p {
    margin-top: 1.1rem;
    font-size: 0.9rem;
    line-height: 1.2;
    text-align: center;
  }
}
/* -------------------IDENTITY GALLERY----------------- */

.identity-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.item {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.item-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-image: url(../../assets/img/cartagena.png);
}

.item-2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-image: url(../../assets/img/g7.jpg);
}

.item-3 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  background-image: url(../../assets/img/coffe.jpg);
}

.item-4 {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  background-image: url(../../assets/img/tour1.jpg);
  background-position: 30% 70%;
}

/* -------------------RESPONSIVE DESIGN----------------- */
@media screen and (max-width: 1200px) {
  .why,
  .ministery,
  .third {
    width: 100%;
    transform: none;
  }
  .third {
    flex-direction: column;
    .values-text {
      padding: 2.7rem;
    }
  }
}
@media screen and (max-width: 960px) {
  .ministery {
    flex-direction: column-reverse;

    .ministery-pic {
      max-width: 100%;
    }
  }
  .values {
    height: auto;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .travel-pic {
    display: none;
  }
}
